html, body {
    margin: 0;
    height: 100%;
    background: moccasin;
}

img {
    position: absolute;
}

/* Desk area */
.desk {
    top: 200px;
    transform: scale(1.05);
}

.desk-chair {
    transform: scale(0.8) scaleX(-1);
    top: 270px;
    left: 170px;
}

.website-poster-above-desk {
    top: -10px;
    left: 50px;
    transform: scale(0.5);
}

.frogs-on-desk {
    top: 90px;
    left: 100px;
    transform: scale(0.25);
}

.silver-lamp {
    left: 150px;
    top: 40px;
    transform: scale(0.9);
}

.face-plate {
    top: -60px;
    left: 185px;
    transform: scale(0.3);
}

.website-mobile {
    top: 300px;
    left: -70px;
    transform: scale(0.5);
}

.desk-computer {
    top: 50px;
    left: -120px;
    transform: scale(0.3);
}


/* Lounge area */

.blue-chair {
    top: 220px;
    left: 400px;
    transform: scale(0.7);
}

.orange-chair {
    top: 220px;
    left: 650px;
    transform: scaleX(-1) scale(0.7);
}

.quilt {
    max-width: 250px;
    left: 700px;
    top: 80px;
}

.greentable {
    top: 230px;
    left: 520px;
    transform: scale(0.8);
}

.chess-set {
    top: 150px;
    left: 520px;
    transform: scale(0.35);
}


.orange-hanging-lamp {
    top: -100px;
    left: 500px;
    transform: scale(0.5);

}

.website-brown-poof {
    top: 370px;
    left: 580px;
    transform: scale(0.55);
}

.website-clown-poster {
    top: 000px;
    left: 380px;
    transform: scale(0.6);
}

.website-blue-vase {
    top: 235px;
    left: 710px;
    transform: scale(0.2)
}

.wood-stool {
    top: 320px;
    left: 710px;
    transform: scale(0.35);
}

/*rugs */

.website-carpet-under-chess {
    top: 400px;
    left: 520px;
    transform: rotate(90deg) scale(1.7);
}

.striped-rug {
    top: 450px;
    left: 50px;
    transform: scale(2);
}

.pink-rug {
    top: 100px;
    left: 600px;
}

/*un used */

.library-lamp {
        top: 100px;
    left: 600px;

}

.library-step-ladder {
    top: 100px;
    left: 600px;
}

.pink-chair {
    top: 100px;
    left: 600px;
}

.website-pink-pillow {
    top: 300px;
    left: 100px;
}

/*.website-bookshelf {
    top: 600px;
    left: 600px;
}
*/
