{% extends "base.html" %}

{% block body %}
<div class="desk-area">
<!-- <img src ="{{get_url(path='striped rug.png')}}" class="striped-rug"> -->
<img src="{{get_url(path='website poster above desk.png')}}" class="website-poster-above-desk">

<img src="{{get_url(path='face plate.png')}}" class="face-plate">
<img src="{{get_url(path='silver lamp.png')}}" class="silver-lamp">
<img src="{{get_url(path='desk.png')}}" class="desk">
<img src="{{get_url(path='desk chair.png')}}" class="desk-chair">
<a href="{{get_url(path='@/about/index.md')}}"><img src="{{get_url(path='frogs on desk.png')}}" class="frogs-on-desk"></a>
<a href="https://substack.com/@tashmagallon" target="_blank"><img src="{{get_url(path='updated computer.png')}}" class="desk-computer"></a>
<img src="{{get_url(path='website mobile.png')}}" class="website-mobile">
</div>

<div class="bookshelf-area">
<a href="{{get_url(path='@/books/_index.md')}}"><img src="{{get_url(path='website bookshelf.png')}}" class="website-bookshelf"></a>
<a href="{{get_url(path='@/books/_index.md')}}"><img src="{{get_url(path='bookshelf books 1.png')}}" class="bookshelf-books-1"></a>
<a href="{{get_url(path='@/books/_index.md')}}"><img src="{{get_url(path='bookshelf books 2.png')}}" class="bookshelf-books-2"></a>
<a href="{{get_url(path='@/books/_index.md')}}"><img src="{{get_url(path='bookshelf books 3.png')}}" class="bookshelf-books-3"></a>
<a href="{{get_url(path='@/books/_index.md')}}"><img src="{{get_url(path='bookshelf books 4.png')}}" class="bookshelf-books-4"></a>
<a href="{{get_url(path='@/books/_index.md')}}"><img src="{{get_url(path='bookshelf books black spine.png')}}" class="bookshelf-books-black-spine"></a>
<a href="{{get_url(path='@/books/_index.md')}}"><img src="{{get_url(path='bookshelf books orange spine.png')}}" class="bookshelf-books-orange-spine"></a>
<a href="{{get_url(path='@/books/_index.md')}}"><img src="{{get_url(path='bookshelf books nyrb.png')}}" class="bookshelf-books-nyrb"></a>
</div>

<div class="chess-area">
<!-- <img src ="{{get_url(path='website carpet under chess.png')}}" class="website-carpet-under-chess"> -->
<a href="https://instagram.com/tashmagallon" target="_blank"><img src="{{get_url(path='website clown poster.png')}}" class="website-clown-poster"></a>
<a href="{{get_url(path='@/knitting/index.md')}}"><img src="{{get_url(path='quilt.jpeg')}}" class="quilt"></a>

<img src="{{get_url(path='blue chair.png')}}" class="blue-chair">
<img src="{{get_url(path='orange chair.png')}}" class="orange-chair">
<img src="{{get_url(path='greentable.png')}}" class="greentable">
<img src="{{get_url(path='chess set.png')}}" class="chess-set">
<!-- <img src ="{{get_url(path='library lamp.png')}}" class="library-lamp"> -->
<!-- <img src ="{{get_url(path='library step ladder.png')}}" class="library-step-ladder"> -->
<img src="{{get_url(path='orange hanging lamp.png')}}" class="orange-hanging-lamp">
<!-- <img src ="{{get_url(path='pink chair.png')}}" class="pink-chair"> -->
<!-- <img src ="{{get_url(path='pink rug.png')}}" class="pink-rug"> -->
<img src="{{get_url(path='website blue vase.png')}}" class="website-blue-vase">
<!-- <img src ="{{get_url(path='website bookshelf.png')}}" class="website-bookshelf"> -->
<img src="{{get_url(path='website brown poof.png')}}" class="website-brown-poof">
<img src="{{get_url(path='wood stool.png')}}" class="wood-stool">
<!-- <img src ="{{get_url(path='website pink pillow.png')}}" class="website-pink-pillow"> -->
</div>
{% endblock %}
